<!DOCTYPE html>
<html>
  <head>
    <title>express</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcome to E-commerce Site</h1>
    <nav>
      <a href="">Admin</a>
      <a href="">User</a>
    </nav>
  </body>
</html>
