<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="flex container">
        <a href="/blog/routes/index.js" class="brand">Blog App</a>
        <nav>
          <a href="/blog/routes/register/login">Login</a>
          <a href="/blog/routes/register">Register</a>
        </nav>
      </div>
    </header>
    <main>
      <div class="container">
        <h2>Articles</h2>
        <div>
          <% articles.forEach(article => { %>

          <h3><%= article.title %></h3>

          <p><%= article.description %></p>
          <a href="/articles/<%= article._id %>"> Show More </a>

          <% }) %>
        </div>
      </div>
    </main>
  </body>
</html>
