<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="flex container">
        <a href="/blog/routes/index.js" class="brand">Blog App</a>
        <nav>
          <a href="/register/login">Login</a>
          <a href="/register">Register</a>
        </nav>
      </div>
    </header>
    <main>
      <div class="container home">
        <h1>Welcome to Blog App</h1>
        <p class="home-para">Please login or register for blogs</p>
      </div>
    </main>
  </body>
</html>
